# Server
/server/node_modules/
/server/.env
/server/logs/
/server/*.log

# Client
/client/node_modules/
/client/dist/
/client/build/

# General Node.js
node_modules/
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/


/server/.env

/client/.env